mixin field(fieldName, name, type, placeholder)
  label.field-name= fieldName
    input(
      type= type
      name= name
      placeholder= placeholder
      id= name
    )

mixin select(fieldName, name, mainOption)
  label.field-name= fieldName
    select(
      class!=attributes.class
      name= name
      required
    )
      option= mainOption