include Blocks/img-slider/_img-slider.pug
include Blocks/buttons/rating/_rating.pug
- const ruble = '&#8381';


li.room
  a.room__page(href=`./${number}.html`)
    .room__image
      button.room__slider-arrow.room__slider-arrow_left
      button.room__slider-arrow.room__slider-arrow_right
      .room__slider
        each image in images
          .room__slider-item
            img(src=require(`Assets/images/rooms/${number}/mini/${image}.jpg`), alt= number)
      +carousel
    .room-container
      .room__info
        .room__number
          span.number= number
          if (lux)
            span.room_type= 'люкс'
        .room__price
          span.price= price.toLocaleString('ru-RU')
          span !{ruble}
          span  в сутки
      .room__rating
        +star(stars)
        .room__review
          span= reviews
          span отзывов