//- text forms
mixin label(fieldName)
  label.field-name(class!=attributes.class)= fieldName
    block

mixin field(name, placeholder)
  input(class!=attributes.class)(
    type="text"
    name= name
    placeholder= placeholder
    id= name
  )

//-select
mixin select(name, mainOption, disabled)
  select(class!=attributes.class)(
    name= name
    disabled= disabled
  )
    option(disabled= disabled)= mainOption

//- checkbox
mixin checkbox(name, text)
  .checkbox
    input(class!=attributes.class)(
      type="checkbox"
      name= name
      id= name
    )
    label.checkbox-label(
      for= name
    )= text

//- radio
mixin radio(name, value, text, checked)
    input(class!=attributes.class)(
      type="radio"
      name= name
      value= value
      id= value
      checked= checked
    )
    label.radio-label(
        for= value
      )= text