//- text forms
mixin label(fieldName)
  label.field-name(class!=attributes.class)= fieldName
    block

mixin field(type, name, placeholder)
  input(class!=attributes.class)(
    type= type
    name= name
    placeholder= placeholder
    id= name
  )

