mixin label(fieldName)
  label.field-name(class!=attributes.class)= fieldName
    block

mixin field(name, placeholder)
  input(class!=attributes.class)(
    type="text"
    name= name
    placeholder= placeholder
    id= name
  )

mixin select(name, mainOption, disabled)
  select(class!=attributes.class)(
    name= name
    disabled= disabled
  )
    option(disabled= disabled)= mainOption

//- checkbox
mixin checkbox(name)
  input(class!=attributes.class)(
    type="checkbox"
    name= name
    id= name
  )
