//- checkbox
mixin checkbox(data={})
  each item in data
    .checkbox
      label.checkbox-label(class!=attributes.class)
        input(
        type="checkbox"
        name= item.name
        id= item.name
        class="checkbox"
        checked= item.checked
      )
        | #{item.text}
        block

//- radio
mixin radio(name, value, text, checked)
  .radio__item
    label.radio-label
      input(class!=attributes.class)(
      type="radio"
      name= name
      value= value
      id= value
      checked= checked
    )
      | #{text}

//-toggle
mixin toggle(name, text, checked)
  .checkbox.toggle
    label.checkbox-label
      input(class!=attributes.class)(
      type="checkbox"
      name= name
      id= name
      class="switch"
      checked= checked
    )
      | #{text}
